.f-color-blue_-1{ color: var(--blue_-1);}
.f-color-blue{ color: var(--blue);}
.f-color-blue_1{ color: var(--blue_1);}
.f-color-blue_2{ color: var(--blue_2);}
.f-color-blue_3{ color: var(--blue_3);}
.f-color-black_-1{ color: var(--black_-1);}
.f-color-black{ color: var(--black);}
.f-color-black_1{ color: var(--black_1);}
.f-color-black_2{ color: var(--black_2);}
.f-color-black_3{ color: var(--black_3);}
.f-color-grey_-1{ color: var(--grey_-1);}
.f-color-grey{ color: var(--grey);}
.f-color-grey_1{ color: var(--grey_1);}
.f-color-grey_2{ color: var(--grey_2);}
.f-color-grey_3{ color: var(--grey_3);}
.f-color-green_-1{ color: var(--green_-1);}
.f-color-green{ color: var(--green);}
.f-color-green_1{ color: var(--green_1);}
.f-color-green_2{ color: var(--green_2);}
.f-color-green_3{ color: var(--green_3);}
.f-color-yellow_-1{ color: var(--yellow_-1);}
.f-color-yellow{ color: var(--yellow);}
.f-color-yellow_1{ color: var(--yellow_1);}
.f-color-yellow_2{ color: var(--yellow_2);}
.f-color-yellow_3{ color: var(--yellow_3);}
.f-color-red_-1{ color: var(--red_-1);}
.f-color-red{ color: var(--red);}
.f-color-red_1{ color: var(--red_1);}
.f-color-red_2{ color: var(--red_2);}
.f-color-red_3{ color: var(--red_3);}
.f-color-blue_gray_-1{ color: var(--blue_gray_-1);}
.f-color-blue_gray{ color: var(--blue_gray);}
.f-color-blue_gray_1{ color: var(--blue_gray_1);}
.f-color-blue_gray_2{ color: var(--blue_gray_2);}
.f-color-blue_gray_3{ color: var(--blue_gray_3);}
.f-color-violet_-1{ color: var(--violet_-1);}
.f-color-violet{ color: var(--violet);}
.f-color-violet_1{ color: var(--violet_1);}
.f-color-violet_2{ color: var(--violet_2);}
.f-color-violet_3{ color: var(--violet_3);}
.f-color-white_-1{ color: var(--white_-1);}
.f-color-white_1{ color: var(--white_1);}
.f-color-white{ color: var(--white);}


.bg-color-blue_-1{ color: var(--blue_-1);}
.bg-color-blue{ color: var(--blue);}
.bg-color-blue_1{ color: var(--blue_1);}
.bg-color-blue_2{ color: var(--blue_2);}
.bg-color-blue_3{ color: var(--blue_3);}
.bg-color-black_-1{ color: var(--black_-1);}
.bg-color-black{ color: var(--black);}
.bg-color-black_1{ color: var(--black_1);}
.bg-color-black_2{ color: var(--black_2);}
.bg-color-black_3{ color: var(--black_3);}
.bg-color-grey_-1{ color: var(--grey_-1);}
.bg-color-grey{ color: var(--grey);}
.bg-color-grey_1{ color: var(--grey_1);}
.bg-color-grey_2{ color: var(--grey_2);}
.bg-color-grey_3{ color: var(--grey_3);}
.bg-color-green_-1{ color: var(--green_-1);}
.bg-color-green{ color: var(--green);}
.bg-color-green_1{ color: var(--green_1);}
.bg-color-green_2{ color: var(--green_2);}
.bg-color-green_3{ color: var(--green_3);}
.bg-color-yellow_-1{ color: var(--yellow_-1);}
.bg-color-yellow{ color: var(--yellow);}
.bg-color-yellow_1{ color: var(--yellow_1);}
.bg-color-yellow_2{ color: var(--yellow_2);}
.bg-color-yellow_3{ color: var(--yellow_3);}
.bg-color-red_-1{ color: var(--red_-1);}
.bg-color-red{ color: var(--red);}
.bg-color-red_1{ color: var(--red_1);}
.bg-color-red_2{ color: var(--red_2);}
.bg-color-red_3{ color: var(--red_3);}
.bg-color-blue_gray_-1{ color: var(--blue_gray_-1);}
.bg-color-blue_gray{ color: var(--blue_gray);}
.bg-color-blue_gray_1{ color: var(--blue_gray_1);}
.bg-color-blue_gray_2{ color: var(--blue_gray_2);}
.bg-color-blue_gray_3{ color: var(--blue_gray_3);}
.bg-color-violet_-1{ color: var(--violet_-1);}
.bg-color-violet{ color: var(--violet);}
.bg-color-violet_1{ color: var(--violet_1);}
.bg-color-violet_2{ color: var(--violet_2);}
.bg-color-violet_3{ color: var(--violet_3);}
.bg-color-white_-1{ color: var(--white_-1);}
.bg-color-white_1{ color: var(--white_1);}
.bg-color-white{ color: var(--white);}

