:root {
  /* Color styles */
  --blue_-1: #003ED6;
  --blue: #094DF2;
  --blue_1: #4B7FE5;
  --blue_2: #789FEB;
  --blue_3: #BCCFF5;
  --black_-1: #111111;
  --black: #212023;
  --black_1: #41424D;
  --black_2: #9A9BA1;
  --black_3: #DADADD;
  --grey_-1: #BDBCC2;
  --grey: #DBDADF;
  --grey_1: #E2E1E5;
  --grey_2: #F1F0F2;
  --grey_3: #F8F8F9;
  --green_-1: #00874E;
  --green: #00A962;
  --green_1: #54CB99;
  --green_2: #89E7BF;
  --green_3: #BDF6DE;
  --yellow_-1: #E4A23E;
  --yellow: #FEBA54;
  --yellow_1: #FEC876;
  --yellow_2: #FFE3BB;
  --yellow_3: #FFF1DD;
  --red_-1: #A63222;
  --red: #CF3F2B;
  --red_1: #D96555;
  --red_2: #ECB2AA;
  --red_3: #F5D9D5;
  --blue_gray_-1: #191D23;
  --blue_gray: #263346;
  --blue_gray_1: #616E81;
  --blue_gray_2: #8E9BAE;
  --blue_gray_3: #BDC7D4;
  --violet_-1: #2A248C;
  --violet: #3830BC;
  --violet_1: #6059C9;
  --violet_2: #8883D7;
  --violet_3: #C3C1EB;
  --white_-1: #F6F6F6;
  --white_1: #FFFFFF;
  --white: #FCFCFC;
}