:root {
    /* Effect styles */
    --shadow-big:
        0px 2.767256498336792px 1.992424726486206px rgba(13, 19, 47, 0.08),
        0px 6.650102138519287px 4.788073539733887px rgba(13, 19, 47, 0.11),
        0px 12.521552085876465px 9.015517234802246px rgba(13, 19, 47, 0.14),
        0px 22.3363094329834px 16.082141876220703px rgba(13, 19, 47, 0.17),
        0px 41.777610778808594px 30.079877853393555px rgba(13, 19, 47, 0.2),
        0px 100px 72px rgba(13, 19, 47, 0.28);
    --shadow-small:
        0px 2.850050449371338px 2.2800405025482178px rgba(4, 23, 70, 0.02),
        0px 6.8490681648254395px 5.479254245758057px rgba(4, 23, 70, 0.03),
        0px 12.896187782287598px 10.316948890686035px rgba(4, 23, 70, 0.04),
        0px 23.004594802856445px 18.40367317199707px rgba(4, 23, 70, 0.05),
        0px 43.027565002441406px 34.42205047607422px rgba(4, 23, 70, 0.06),
        0px 102.9919204711914px 82.3935317993164px rgba(4, 23, 70, 0.08);
    --shadow-medium:
        0px 2.6565661430358887px 4.482955455780029px rgba(4, 23, 70, 0.06),
        0px 6.384098052978516px 10.773165702819824px rgba(4, 23, 70, 0.09),
        0px 12.020689964294434px 20.284914016723633px rgba(4, 23, 70, 0.12),
        0px 21.442855834960938px 36.18482208251953px rgba(4, 23, 70, 0.14),
        0px 40.10650634765625px 67.67972564697266px rgba(4, 23, 70, 0.17),
        0px 96px 162px rgba(4, 23, 70, 0.23);
}



.shadow-big {
    box-shadow: var(--shadow-big);
}

.shadow-medium {
    box-shadow: var(--shadow-medium);
}

.shadow-small {
    box-shadow: var(--shadow-small);
}