.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_container {
        margin: 0 auto;
        display: inline-flex;
        justify-content: center;

        svg {
            max-width: 50rem;
            width: 80%;
            height: auto;
            margin: 1rem auto;
        }
    }
}